.courier {
  font-family:courier;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #ADADAD;
}

h1 {
  font-size: 5rem;
}
