<div class="section-content" id="about">
  <h1>About</h1>
  <img src="{{site.url}}/assets/headshot.png" alt="headshot" class="image-right" width="40%">
  <p>I'm a software engineer, specializing in cloud infrastructure and running applications at scale. I currently work with <a href="https://www.benchling.com/">Benchling</a>, building software tools for cancer research. I'm also cofounder of <a href="https://www.navapbc.com/" target="_blank">Nava</a>, where I worked on projects such as Healthcare.gov, Medicare, and federal cloud modernization efforts. I live in San Francisco.</p>

  <h5>Find me elsewhere</h5>
  <ul>
    <li><a href="https://medium.com/@monaghan_a_gram" target="_blank">Medium</a></li>
    <li><a href="https://www.linkedin.com/in/christianmonaghan" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/cmonaghan" target="_blank">Github</a></li>
    <!-- <li><a href="https://bsky.app/profile/woolgathering.io" target="_blank">BlueSky</a></li> -->
    <!-- <li><a href="https://www.pinterest.com/christianmonagh/" target="_blank">Pinterest</a></li> -->
    <!-- <li><a href="https://twitter.com/monaghan_a_gram" target="_blank">Twitter</a></li> -->
    <!-- <li><a href="https://www.instagram.com/monaghan_a_gram/" target="_blank">Instagram</a></li> -->
    <!-- <li><a href="https://www.flickr.com/photos/christianmonaghan/" target="_blank">Flickr</a></li> -->
  </ul>
</div>
