<div class="section-content" id="about">
  <h1>About</h1>
  <img src="{{site.url}}/images/headshot2.jpg" alt="headshot" class="image-right" width="40%">
  <p>I'm an entrepreneur and software engineer with a passion for working with government to build great human-centered services. I currently work at <a href="https://www.navapbc.com/" target="_blank">Nava</a> on projects like Healthcare.gov, Medicare.gov, Medicare Quality Payment Program, and Veterans Affairs Disability Appeals. I live in Washington DC.</p>

  <h5>Find me elsewhere</h5>
  <ul>
    <li><a href="https://www.linkedin.com/in/christianmonaghan" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/cmonaghan" target="_blank">Github</a></li>
    <li><a href="https://twitter.com/cmonaghan15" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/christianmonaghan/" target="_blank">Instagram</a></li>
    <li><a href="https://www.flickr.com/photos/christianmonaghan/" target="_blank">Flickr</a></li>
  </ul>
</div>
