<div class="navbar-spacer"></div>
<nav class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="/#">Home</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/#blog">Blog</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/#essays">Essays</a>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="/#about">About</a>
      </li>
    </ul>
  </div>
</nav>
