<div class="section-content" id="writing">
  <h1>Writing</h1>

  <!-- {% if paginator.page == 1 %} -->
  <!-- Featured Posts Section -->
  <!-- <h3>Featured</h3>
  <div class="catalogue featured-posts">
    {% assign featured_posts = site.posts | where: "featured", true | limit: 3 %}
    {% for post in featured_posts limit: 3%}
      {% include teaser-post.html %}
    {% endfor %}
  </div>
  {% endif %} -->

  {% if paginator.page == 1 %}
  <!-- <h3>Older Posts</h3> -->
  {% endif %}
  <div class="catalogue">
    {% assign featured_post_urls = featured_posts | map: 'url' %}
    {% for post in paginator.posts %}
      {% unless featured_post_urls contains post.url %}
        {% include teaser-post.html %}
      {% endunless %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="button u-pull-left" href="{{ paginator.previous_page_path }}">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="button u-pull-right" href="{{ paginator.next_page_path }}">Older</a>
    {% endif %}
  </div>
</div>
