<div class="section-content" id="writing">
  <h1>Writing</h1>

  <div class="catalogue">
    {% for post in paginator.posts %}
      {% include teaser-post.html %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="button u-pull-left" href="{{ paginator.previous_page_path | prepend: site.url }}">Newer</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="button u-pull-right" href="{{ paginator.next_page_path | prepend: site.url }}">Older</a>
    {% endif %}

  </div>
</div>
