<div class="section-content" id="projects">
  <h1>Projects</h1>

    <div class="section">
      <div class="row">
        <a href="https://cocktails.woolgathering.io/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/2024-09-28-cocktail-apothecary-thumbnail.png">
            <h5>Cocktail Apothecary</h5>
          </div>
        </a>
        <a href="https://assateague-spin.woolgathering.io/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/2024-09-10-assateague-spin-thumbnail.png">
            <h5>Assateague Spin</h5>
          </div>
        </a>
        <a href="https://fallacy.woolgathering.io/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/2024-09-03-fallacy-finder-thumbnail.png">
            <h5>Fallacy Finder</h5>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="https://dg.woolgathering.io/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/disc_golf_oracle_thumbnail.png">
            <h5>Disc Golf Oracle</h5>
          </div>
        </a>
        <a href="https://www.gowishbone.com/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/gowishbone.png">
            <h5>GoWishbone</h5>
          </div>
        </a>
        <a href="https://pascarelcaps.com/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/pascarel-caps.png">
            <h5>Pascarel Caps</h5>
          </div>
        </a>
      </div>
      <div class="row">
        <a href="https://github.com/cmonaghan/dino-api" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/dino-api2.png">
            <h5>Dino API</h5>
          </div>
        </a>
      </div>
    </div>

</div>
