<div class="section-content" id="projects">
  <h1>Projects</h1>

    <div class="section">
      <div class="row">
        <a href="https://www.gowishbone.com/" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/gowishbone.png">
            GoWishbone
          </div>
        </a>
        <a href="https://dino.api.woolgathering.io/?miles=400" target="_blank" class="one-third column project-image">
          <div>
            <img class="u-max-full-width" src="assets/dino-api.png">
            Dino API
          </div>
        </a>
        <a href="#" target="_blank" class="one-third column project-image">
          <div>
            <!-- <img class="u-max-full-width" src="assets/gowishbone.png">
            Project X -->
          </div>
        </a>
      </div>
    </div>

</div>
