<div class="section-content" id="projects">
  <h1>Projects</h1>
    
    <div class="section">

      <div class="row">
        {% include project-thumbnail.html
          url="/projects/friendfaves"
          image="/assets/2025-03-26-friendfaves-thumbnail.png"
          title="FriendFaves"
        %}

        {% include project-thumbnail.html
          url="/projects/cocktail-apothecary"
          image="/assets/2024-09-28-cocktail-apothecary-thumbnail.png"
          title="Cocktail Apothecary"
        %}

        {% include project-thumbnail.html
          url="/projects/gowishbone"
          image="/assets/gowishbone.png"
          title="GoWishbone"
        %}
      </div>
      
      <div class="row">        
        {% include project-thumbnail.html
          url="/projects/disc-golf-oracle"
          image="/assets/disc_golf_oracle_thumbnail.png"
          title="Disc Golf Oracle"
        %}

        {% include project-thumbnail.html
          url="/projects/siri-playlist-actions"
          image="/assets/2025-02-01-siri-spotify-thumbnail.png"
          title="Siri Playlist Actions"
        %}
        
        {% include project-thumbnail.html
          url="/projects/assateague-spin"
          image="/assets/2024-09-10-assateague-spin-thumbnail.png"
          title="Assateague Spin"
        %}
      </div>
        
      <div class="row">
        {% include project-thumbnail.html
          url="/projects/pascarel-caps"
          image="/assets/pascarel-caps.png"
          title="Pascarel Caps"
        %}
          
        {% include project-thumbnail.html
          url="/projects/fallacy-finder"
          image="/assets/2024-09-03-fallacy-finder-thumbnail.png"
          title="Fallacy Finder"
        %}

        {% include project-thumbnail.html
          url="/projects/prompt-library"
          image="/assets/2025-07-19-prompt-library-thumbnail.png"
          title="Prompt Library"
        %}
      </div>

    </div>

</div>
