<div class="section-content" id="speaking">
  <h1>Speaking</h1>
    
  <div class="section">

    <div class="row">
      {% include project-thumbnail.html
        url="/speaking/talk1"
        image="/assets/cloud-infrastructure.png"
        title="Cloud Infrastructure Best Practices"
      %}

      {% include project-thumbnail.html
        url="/speaking/talk2"
        image="/assets/devops.png"
        title="DevOps in Modern Software Development"
      %}
      
      {% include project-thumbnail.html
        url="/speaking/talk3"
        image="/assets/microservices.png"
        title="Scaling Microservices Architecture"
      %}
    </div>
    
  </div>
</div>