<div class="section-content" id="speaking">
  <h1>Speaking</h1>
    
  <div class="section">

    <div class="row">
      {% include project-thumbnail.html
        url="/speaking/2018-10-velocity"
        image="/assets/cloud-infrastructure.png"
        title="Migrating HealthCare.gov to Terraform: Lessons Learned"
      %}

      {% include project-thumbnail.html
        url="/speaking/2018-07-devcon"
        image="/assets/devops.png"
        title="Driving Technical Change Within Large Organizations"
      %}
      
      {% include project-thumbnail.html
        url="/speaking/2014-ignite"
        image="/assets/microservices.png"
        title="Fixing Broken Things"
      %}
    </div>
    
  </div>
</div>