---
layout: main
---

<div class="post">
  <div class="post-info">
    <br>
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h2 class="post-title">{{ page.title }}</h2>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a class="button u-pull-left" href="{{ page.next.url | prepend: site.url }}">Newer</a>
  {% endif %}
  {% if page.previous.url %}
    <a class="button u-pull-right" href="{{ page.previous.url | prepend: site.url }}">Older</a>
  {% endif %}

</div>
