---
layout: main
---

<div class="post">
  <div class="post-info">
    <br>
    {% if page.date %}
      <div>{{ page.date }}</div>
    {% endif %}
  </div>

  <h2 class="post-title">{{ page.title }}</h2>
  <p>
    <b>Project goal:</b> {{ page.goal }}
    {% if page.languages %}
      <br>
      <b>Languages:</b> {{ page.languages }}
    {% endif %}
    {% if page.infra %}
      <br>
      <b>Infrastructure:</b> {{ page.infra }}
    {% endif %}
    {% if page.apis %}
      <br>
      <b>Third-party services:</b> {{ page.apis }}
    {% endif %}
    {% if page.repo_name %}
      <br>
      <b>Repository:</b> <a href="https://github.com/cmonaghan/{{ page.repo_name }}">cmonaghan/{{ page.repo_name }}</a>
    {% endif %}
  </p>

  {% if page.link %}
    <a class="button" href="{{ page.link }}" target="_blank">Visit site</a>
  {% endif %}

  <div class="post-line"></div>

  {{ content }}


</div>
