---
layout: main
---

<div class="post">
  <div class="post-info">
    <br>
    {% if page.date %}
      <div>{{ page.date }}</div>
    {% endif %}
  </div>

  <h2 class="post-title">{{ page.title }}</h2>
  <p>
    <b>Project goal:</b> {{ page.goal }}
    <br>
    <b>Languages:</b> {{ page.languages }}
    <br>
    <b>Infrastructure:</b> {{ page.infra }}
    <br>
    <b>Third-party services:</b> {{ page.apis }}
  </p>
  <div class="post-line"></div>

  {{ content }}

  <a href="{{ page.link }}">Check it out</a>

</div>
